.__header {
    display: block !important;
}

.__c-gblue {
    color: #737491 !important;
}

.__na_bg {
    background-color: #f6ebe6 !important;
}

.__shadow {
    box-shadow: 0 0 1rem rgb(0 0 0 / 20%) !important;
}

.__nav_align {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.__navbar {
    /* padding-top: 0.375rem;
    padding-bottom: 0.375rem; */
    padding: 1rem 1rem !important;
    display: flex !important;
    justify-content: space-between !important;
}

.__navbar-nav {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none !important;
}

.__navbar-expand-lg {
    -ms-flex-flow: row nowrap !important;
    flex-flow: row nowrap !important;
    -ms-flex-pack: start !important;
    /* justify-content: flex-start; */
}

.__nav-link {
    display: block;
    padding: 0.5rem 1rem;
    padding: 0.875rem 1.125rem;
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 0.9rem !important;
}

.__nav-link-w {
    display: block;
    padding: 0.5rem 1rem;
    padding: 0.875rem 1.125rem;
    color: #fff !important;
    font-size: 0.9rem !important;
}

@media (min-width: 992px) {
    .__nav-link {
        padding-right: 1.125rem !important;
        padding-left: 1rem !important;
    }
}

.__nav-link:hover,
.__nav-link:focus,
.__nav-link-w {
    text-decoration: none !important;
}

.__navbar .__nav-link .__nav-link-w {
    font-size: 0.9rem !important;
}

.__navbar-light .__navbar-nav .__nav-link {
    color: rgba(0, 0, 0, 0.5) !important;
}

.__nav-link:hover,
.__nav-link:focus {
    color: rgba(0, 0, 0, 0.9) !important;
}

.__nav-link-w:hover,
.__nav-link-w:focus {
    color: rgba(0, 0, 0, 0.9) !important;
}

.__li-st {
    list-style: none !important;
}

.__bye {
    display: flex;
    justify-content: space-between !important;
}

.__navbar-brand2 {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    line-height: inherit;
    white-space: nowrap;
}

.__navbar-margin-lr {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.__fixed-top {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 95px;
}

.__fixed-top2 {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 50px;
}

.__fixed-top {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 50px;
}

.__page_down {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    z-index: 1030 !important;
    height: 95px !important;
}

.__d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.__align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.__pt-1,
.__py-1 {
    padding-top: 0.25rem !important;
}

.__pt-1,
.__py-1 {
    padding-bottom: 0.25rem !important;
}

.__absolute_center {
    position: absolute !important;
    left: 50% !important;
    right: 50% !important;
    transform: translate(-50%, -50%);
}


/* footer */

.__position-r {
    position: relative !important;
}

.__margin-tb-1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.__margin-tb-2 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.__margin-tb-3 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.__margin-rl-1 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.__margin-rl-1_5 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.__margin-rl-2 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
}

.__pading-tb-1 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.__pading-tb-2 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.__pading-tb-3 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.__pading-lr-1 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.__pading-lr-2 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.__bg-footer {
    background-color: #343354 !important;
}

.__font-size_1 {
    font-size: 0.9rem !important;
}

.__font-size_2 {
    font-size: 0.8rem !important;
}

.__font-size_3 {
    font-size: 0.875rem !important;
}

.__footer-down {
    position: relative !important;
    top: 3rem !important;
}


/* 버튼 */

__button {
    margin: 20px;
}

.__m-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 10px 30px;
    /* border-radius: 15px; */
    /* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); */
    text-decoration: none;
    font-weight: 300;
    transition: 0.25s;
}

.__m-btn2 {
    position: relative;
    border: none;
    display: inline-block;
    padding: 0px 20px;
    /* border-radius: 15px; */
    /* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); */
    text-decoration: none;
    font-weight: 300;
    transition: 0.25s;
}

.__m-btn:hover {
    /* letter-spacing: 2px; */
    /* transform: scale(1.2); */
    color: #f44125;
    cursor: pointer;
}

.__m-btn-gra1 {
    background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
    color: white;
}

.__m-btn-gra2 {
    background: linear-gradient(-45deg, #d13245, #f16e7a, #f4a762);
    color: white;
}

.__m-btn-gra3 {
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    color: white;
}

.__m-btn-gra-anim {
    background-size: 400% 400%;
    animation: gradient1 5s ease infinite;
}

@keyframes gradient1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient2 {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}